@font-face {
  font-family: "Gilroyextrabold";
  src: url("/fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroylight";
  src: url("/fonts/gilroylight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.18px;
  font-weight: 400;
  color: #464646;
  text-transform: none;

  background-color: #ffffff;

}
.catalog-submenu {
  display: none;
}
.container {
  width: 1160px;
  padding: 0 20px;
}
.main-header {
  padding-left: 60px;
  padding-top: 22px;
  padding-right: 60px;
}
a {
  color: #000000;
  text-decoration: none;
}
.search-form input[type="search"] {
  font: inherit;
  border: none;
}
input[type="search"]::-webkit-input-placeholder {color:rgba(0, 0, 0, 0.3);}
input::moz-placeholder                          {color:rgba(0, 0, 0, 0.3);}
input:-moz-placeholder                          {color:rgba(0, 0, 0, 0.3);}
input:ms-input-placeholder                      {color:rgba(0, 0, 0, 0.3);}

input[type="search"]:hover::-webkit-input-placeholder {color:rgba(0, 0, 0, 0.6);}
input::moz-placeholder                                {color:rgba(0, 0, 0, 0.6);}
input:-moz-placeholder                                {color:rgba(0, 0, 0, 0.6);}
input:ms-input-placeholder                            {color:rgba(0, 0, 0, 0.6);}

input[type="search"]:active::-webkit-input-placeholder {color:rgba(0, 0, 0, 1);}
input::moz-placeholder                                 {color:rgba(0, 0, 0, 1);}
input:-moz-placeholder                                 {color:rgba(0, 0, 0, 1);}
input:ms-input-placeholder                             {color:rgba(0, 0, 0, 1);}

.user-navigation-list,
.site-navigation,
.catalog-submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
}
.user-navigation-list {
  display: flex;
  width: 500px;
}
.basket-nav {
  margin-left: 35px;
}
.compare-nav {
  margin-left: auto;
}
.site-navigation {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  margin-top: 50px;
  }
.submenu-item {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.18px;
  text-transform: none;
  text-align: left;
}
.contacts-nav {
  margin-left: auto;
}
.service-nav {
  width: 111px;
  margin-left: 39px;

}
.delivery-nav {
  width: 123px;
  margin-left: 318px;

}
.catalog-nav {
  width: 218px;
}
.user-navigation-list a:hover,
.site-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.user-navigation-list a:active,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
/*.user-navigation-list a,
.site-navigation-item a {
  color: #000000;
}*/
.products-list {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  list-style: none;

  display: flex;
  justify-content:space-between;
  margin: 0;
  padding: 0;
}
.products-item {
  width: 160px;
}
.products-list a:hover {
  color: rgba(0, 0, 0, 0.6);
  }
.products-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.service-list {
  letter-spacing: 0px;
  list-style: none;
  text-align: left;
}
.service-item h3 {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.18px;
  font-weight: 700;
  color: #000000;
}
.popular-manufacturers-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 97px;
  padding-bottom: 102px;
  margin: 0;
  padding: 0;
}
.popular-manufacturers-item {
  width: 260px;
}
.index-columns {
  text-align: left;
  color: #000000;

  display: flex;
  justify-content: space-between;
}
.info,
.contacts {
  width: 560px;
}
.index-columns h2 {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.18px;
  font-weight: 700;
}
.index-columns p {
  letter-spacing: 0px;
  color: #464646;
}
.info-transport-company {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
}
.index-columns h3 {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 700;
  text-transform: uppercase;
}
.inner-page {
  color: #000000;
}
.page-title {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  text-align: left;

  margin-top: 44px;
  margin-bottom: 31px;
  margin: 0;
  padding: 0;
}
.breadcrumbs {
  list-style: none;
  margin-bottom: 53px;
  margin: 0;
  padding: 0;
}
.breadcrumbs a,
.breadcrumbs-current {
 font-size: 14px;
 line-height: 24px;
 color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}
.columns-filter-catalog {
  display: flex;
  justify-content: space-between;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.filter fieldset {
  border: none;
}
.filters h2,
.sort h2 {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 27px 0;
}
.filter legend {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.filter ul {
  font-size: 14px;
  line-height: 40px;
  list-style: none;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}
.filter-input:disabled + label {
  color: #a6a6a6;
}
.sort {
  display: flex;
}
.sort-item,
.sort-item-range {
list-style: none;
}
.sort-item a {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.3);
}
.sort-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sort-item a:active{
  color: rgba(0, 0, 0, 1);
}
.index-item-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 760px;
  margin-bottom: 41px;
  margin: 0;
  padding: 0;
}
.catalog-item {
  width: 360px;
  }
.catalog-item h3 {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.catalog-item-price {
  font-family: "Gilroylight", Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}
.pagination-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.pagination-item {
  margin: 30px;
}
.numbers {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 90px;
  margin-top: 30px;
  margin: 0;
  padding: 0;
}
.pagination-item a {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.pagination-item-number a {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.6px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.pagination-item-number a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.pagination-item-number a:active {
  color: rgba(0, 0, 0, 1);
}
.pagination-item-current a {
  color: #000000;
}
.in-basket {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.in-basket:active {
  color: rgba(0, 0, 0, 0.3);
}
.in-compare {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.in-compare:hover {
  color: rgba(0, 0, 0, 1);
}
.in-compare:active {
  color: rgba(0, 0, 0, 0.2);
}
.main-footer {
  color: #ffffff;
  background-color: #464646;
}
.footer-navigation-item,
.footer-user-navigation,
.footer-social-item {
  list-style: none;
}
.footer-navigation-item a,
.footer-user-navigation a,
.footer-social-item a {
  color: inherit;
}
.footer-logo-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
  align-items: center;
}
.footer-user-navigation {
  display: flex;
  justify-content: space-between;
  width: 326px;
  margin: 0;
  padding: 0;
}
.inner-footer {
  width: 480px;
  justify-content: flex-end;
}
.user-name {
  margin-right: 18px;
}
.logout-link {
  margin-right: 37px;
}
.inner-footer .compare {
  margin-right: 40px;
}
.index-adress-nav {
  display: flex;
  align-items:flex-end;
  margin-top: 41px;
}
.address {
  letter-spacing: 0px;
  margin-top: 0;
  margin-bottom: 0;
}
.footer-navigation-item {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  margin: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.phone {
  letter-spacing: 0px;
  color: #ffffff;
}
.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-user-navigation a:hover {
  color: rgba(255, 255, 255, 1);
}
.footer-user-navigation a:active,
.footer-navigation-item a:active {
  color: rgba(255, 255, 255, 0.3);
}
.footer-navigation-item a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.footer-social {
  text-align: center;
}
.footer-copyright a {
  color: #ffffff;
}
.footer-social-copyright {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.footer-social-item {
  display: flex;
  margin-right: 320px;
  margin-top: 67px;
}
.footer-copyright {
  margin-top: 67px;
}
