
@font-face {
  font-family: "Gilroyextrabold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroylight";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.15px;
  color: #464646;
  text-transform: none;
  background-color: #ffffff;
}
a {
  color: #000000;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(active),
input [type="checkbox"].visually-hidden,
input [type="radio"].visually-hidden {
  position:absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;

}
.main-header {
  min-height: 226px;
  padding-left: 60px;
  padding-right: 60px;
  background: -webkit-linear-gradient(#ffffff 40px, #f7e296 40px);
  background: -o-linear-gradient(#ffffff 40px, #f7e296 40px);
  background: linear-gradient(#ffffff 40px, #f7e296 40px);
}
.main-header-logo svg{
  margin-top: 21px;
}
.main-header-logo svg:hover {
  opacity: 0.6;
}
.main-header-logo svg:active {
  opacity: 0.3;
}
.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.search-field-input {
  width: 358px;
  margin: 0;
  padding-left: 38px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  background-color: transparent;
  border: none;
  outline: none;
}
.search-form::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 3px;
  width: 16px;
  height: 16px;
  z-index: 10;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.search-form-button {
  width: 85px;
  height: 49px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #000000;
  outline: none;
  visibility: hidden;
}
.search-form-button:hover {
  color: #ffffff;
  background-color: #000000;

}
.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}
 .search-field-input:focus {
   border-bottom: 2px solid #000000;
}
.search-field-input:focus ~ .search-form-button, .search-form-button:active {
  visibility: visible;
}
input[type="search"]::-webkit-input-placeholder {color:rgba(0, 0, 0, 0.3);}
input::moz-placeholder                          {color:rgba(0, 0, 0, 0.3);}
input:-moz-placeholder                          {color:rgba(0, 0, 0, 0.3);}
input:ms-input-placeholder                      {color:rgba(0, 0, 0, 0.3);}

input[type="search"]:hover::-webkit-input-placeholder {color:rgba(0, 0, 0, 0.6);}
input::moz-placeholder                                {color:rgba(0, 0, 0, 0.6);}
input:-moz-placeholder                                {color:rgba(0, 0, 0, 0.6);}
input:ms-input-placeholder                            {color:rgba(0, 0, 0, 0.6);}

input[type="search"]:active::-webkit-input-placeholder {color:rgba(0, 0, 0, 1);}
input::moz-placeholder                                 {color:rgba(0, 0, 0, 1);}
input:-moz-placeholder                                 {color:rgba(0, 0, 0, 1);}
input:ms-input-placeholder                             {color:rgba(0, 0, 0, 1);}

.user-navigation-list,
.site-navigation,
.catalog-submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.user-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 505px;
  padding-top: 18px;
  font-weight: 300;
}
.login-link-nav {

  margin-right: 218px;
}
.compare-nav {
  margin-right: 41px;
}
.login-link-nav-icon {
  margin-right: 9px;
}
.compare-nav-icon {
  margin-right: 5px;
}
.basket-nav-icon {
  margin-right: 7px;
}
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1043px;
  margin-top: 38px;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  }
.delivery-nav {
  margin-left: 321px;
}
.service-nav {
  margin-left: 34px;
}
.contacts-nav {
  margin-left: auto;
}
.user-navigation-list a:hover,
.site-navigation a:hover,
.login-link-nav-icon:hover,
.compare-nav-icon:hover,
.basket-nav-icon:hover {
  opacity: 0.6;
}
.user-navigation-list a:active,
.site-navigation a:active,
.login-link-nav-icon:active,
.compare-nav-icon:active,
.basket-nav-icon:active {
  opacity: 0.3;
}
.catalog-nav {
  position: relative;
}
.catalog-nav::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 3px;
  left: 230px;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.catalog-submenu {
  position: absolute;
  display: none;
  width: 1040px;
  padding-top: 21px;
  padding-left: 60px;
  padding-right: 60px;
  left: -60px;
  z-index: 1000;
  background-color: #f7e296;
}
.submenu-item,
.submenu-item-watch,
.submenu-item-quadrocopter {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 34px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: left;
  text-transform: none;
}
.submenu-item {
  width: 200px;
}
.submenu-item-watch {
  width: 160px;
  padding-left: 31px;
}
.submenu-item-quadrocopter {
  width: 120px;
  padding-left: 32px;
}
.site-navigation-item {
  position: relative;
}
.site-navigation-item:hover .catalog-submenu {
  display: block;
}
.main-slider {
  position: relative;
  background: -webkit-linear-gradient(#f7e296 113px, #ffffff 113px);
  background: -o-linear-gradient(#f7e296 113px, #ffffff 113px);
  background: linear-gradient(#f7e296 113px, #ffffff 113px);
}
.slider-list {
  margin: 0;
  padding: 0;
}
.slider-item h2 {
  margin: 0;
  margin-bottom: 19px;
  margin-left: 599px;
  padding-top: 81px;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.62px;
  color: #000000;
}
.slogan {
  max-width: 461px;
  margin: 0;
  margin-left: 599px;
  margin-bottom: 51px;
  font-weight: 300;
}
.slogan-1 {
  max-width: 481px;
}
.button {
  position: relative;
  display: block;
  width: 136px;
  margin-bottom: 55px;
  margin-left: 642px;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.7px;
  text-transform: uppercase;
  text-align: center;
  z-index: 20;
}
.button::after {
  content: "";

  position: absolute;
  display: block;
  top: 33%;
  left: -43px;
  width: 220px;
  height: 8px;
  z-index: -1;
  background-color: #f0c52e;
}
.button:hover::after {
  position: absolute;
  display: block;
  top: -30%;
  left: -35px;
  width: 220px;
  height: 40px;
  z-index: -1;
  background-color: #f0c52e;
}
.button:active {
  color: rgba(0, 0, 0, 0.3);
}
.slider-table {
  width: 567px;
  margin-left: 597px;
}
.table-copter {
  width: 328px;
}
td {
  padding: 0;
}
.table-value,
.duration {
  font-family: "Gilroylight", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.36px;
  color: #000000;
}
.table-title,
.product-characteristic {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
  text-align: left;
}

.stick-lenght {
  padding-left: 1px;
}
.stick-material  {
  padding-left: 15px;
}
.stick-lenght,
.stick-weight,
.stick-material,
.fly-lenght,
.radius {
  padding-top: 6px;
}
.material {
  padding-left: 11px;
}
.duration,
.product-characteristic {
  margin: 0;
  padding-left: 599px;
  letter-spacing: 0.25px;
}
.duration {
  padding-top: 2px;
  padding-bottom: 8px;
}
.copter h2 {
  z-index: 10;
}
.slider-item::before {
  content: "";
  position: absolute;
  top: 38px;
  left: 600px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}
.slider-item::after {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 179px;
  line-height: 179.2px;
  font-weight: 800;
  letter-spacing: 0.36px;
  color: #ffffff;
}
.selfie-stick::after {
  content: "01";
  position: absolute;
  left: 929px;
  top: -11px;
  z-index: 1;
}
.fitness-bracelet::after {
  content: "02";
  position: absolute;
  left: 905px;
  top: -12px;
  z-index: 1;
}
.copter::after {
  content: "03";
  letter-spacing: 4.15px;
  position: absolute;
  left: 900px;
  top: -12px;
  z-index: 1;
}
.slider-input {
  display: none;
}
.slider-controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 1023px;
  bottom: 180px;
  width: 80px;
  height: 12px;
  z-index: 5;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider-controls label {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  padding:16px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  padding: 0px;
  z-index: 1;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}
.slider-item {
  display: none;
}
.slider-item:nth-child(1) {
  height: 499px;
  background-image: url(../img/slider-1.png);
  background-repeat: no-repeat;
  background-position: 89px 2px;
}
.slider-item:nth-child(2) {
  height: 499px;
  background-image: url(../img/slider-2.png);
  background-repeat: no-repeat;
  background-position: 116px 14px;
}
.slider-item:nth-child(3) {
  height: 499px;
  background-image: url(../img/slider-3.png);
  background-repeat: no-repeat;
  background-position: 30px 66px;
}
input[id="product-1"]:checked ~ .slider-list .slider-item:nth-child(1),
input[id="product-2"]:checked ~ .slider-list .slider-item:nth-child(2),
input[id="product-3"]:checked ~ .slider-list .slider-item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
input[id="product-1"]:checked ~ .slider-controls .slider-controls-item--1::before,
input[id="product-2"]:checked ~ .slider-controls .slider-controls-item--2::before,
input[id="product-3"]:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  margin: 4px;
  z-index: 2;
  border: 1px solid #000000;
  border-radius: 50%;
}
.products-list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1160px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: left;
  color: #000000;
}
.second-item h3 {
  width: 89px;
}
.products-item {
  position: relative;
  display: block;
  width: 160px;
  margin-top: 95px;
}
.popular-item-title {
  padding-top: 193px;
  font-size: 18px;
  letter-spacing: 0.18px;
}
.popular-item-title:hover {
  opacity: 1;
}
.products-item::before {
  content: "";
  position: absolute;
  display:block;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  z-index: -1;
  background-color: #f0c52e;
  opacity: 0.5;
}
.first-item::after {
  content: "";
  position: absolute;
  display:block;
  top: 52px;
  left: 71px;
  width: 160px;
  height: 160px;
  margin-left: -40px;
  background: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.second-item::after {
  content: "";
  position: absolute;
  display:block;
  top: 41px;
  left: 78px;
  width: 160px;
  height: 160px;
  margin-left: -40px;
  background: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.third-item::after {
  content: "";
  position: absolute;
  display:block;
  top: 38px;
  left: 49px;
  width: 160px;
  height: 160px;
  background: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.fourth-item::after {
  content: "";
  position: absolute;
  display:block;
  top: 50px;
  left: 28px;
  width: 160px;
  height: 160px;
  background: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.fifth-item::after {
  content: "";
  position: absolute;
  display:block;
  top: 32px;
  left: 55px;
  width: 160px;
  height: 160px;
  background: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.six-item::after {
  content: "";
  position: absolute;
  display:block;
  top: 49px;
  left: 13px;
  width: 160px;
  height: 160px;
  background: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.products-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.products-item:hover::before {
  opacity: 1;
}
.products-item:active::after {
  opacity: 0.3;
}
.service {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 490px;
  padding-bottom: 139px;
  background: -webkit-linear-gradient(transparent 26px, #e5e5e5 26px);
  background: -o-linear-gradient(transparent 26px, #e5e5e5 26px);
  background: linear-gradient(transparent 26px, #e5e5e5 26px);
}
.service-slider {
  display: none;
}
.btn-service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;
}
.button-service {
  position:relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7px;
  z-index: 10;
}
.btn-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 40px;
  list-style: none;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background-color: transparent;
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    color-stop(40%, transparent),
    color-stop(40%, #f0c52e),
    color-stop(60%, #f0c52e),
    color-stop(40%, transparent)
  );
  background-image: -webkit-linear-gradient(
    transparent 40%,
    #f0c52e 40%,
    #f0c52e 60%,
    transparent 40%
  );
  background-image: -o-linear-gradient(
    transparent 40%,
    #f0c52e 40%,
    #f0c52e 60%,
    transparent 40%
  );
  background-image: linear-gradient(
    transparent 40%,
    #f0c52e 40%,
    #f0c52e 60%,
    transparent 40%
  );
  border: none;
  cursor: pointer;
}
.btn-service:hover {
  color: #000000;
  background-color: #f0c52e;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.button-active {
  position: relative;
  background: #000000;
  color: #f0c52e;
}
.button-active:after {
  position: absolute;
  content: "";
  top: 0;
  right: -117px;
  width: 118px;
  height: 40px;
  background: #000000;
}
.button-service-2 {
  margin-top: 24px;
}
.button-service-3 {
  margin-top: 25px;
}


/*.button-service-1 {
  padding-top: 46px;
}
.button-service-2 {
  padding-top: 40px;
}
.button-service-3 {
  padding-top: 41px;
}*/

.button-service::after {
  content: "";
  position: absolute;
  display: block;
  top: -73px;
  left: 277px;
  width: 7px;
  height: 319px;
  z-index: -1;
  background-color: #000000;
}
.service-slider-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 242px;
  list-style: none;
}
.slide h3{
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.8px;
  color: #000000;
}
.slide p {
  width: 439px;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #464646;
}
.slide-title-delivery {
  position: relative;
}
.slide-title-delivery::before {
  content: "";
  position: absolute;
  display:block;
  top: 12px;
  left: 556px;
  width: 136px;
  height: 164px;
  background: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.slide-title-warranty::before {
  content: "";
  position: absolute;
  display:block;
  top: -12px;
  left: 781px;
  width: 171px;
  height: 195px;
  background: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.slide-title-credit::before {
  content: "";
  position: absolute;
  display:block;
  top: -12px;
  left: 772px;
  width: 156px;
  height: 188px;
  background: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.slide {
  display: none;
}
#delivery-btn:checked ~ .btn-service-wrapper #slide1,
#warranty-btn:checked ~ .btn-service-wrapper #slide2,
#credit-btn:checked ~ .btn-service-wrapper #slide3 {
  display: block;
}
.popular-manufacturers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 93px;
  list-style: none;
}
.first,
.second,
.third,
.fourth {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.popular-manufacturers-first-color,
.popular-manufacturers-second-color,
.popular-manufacturers-third-color,
.popular-manufacturers-fourth-color {
  position: absolute;
  top: 0;
  display: none;
}
.first:hover .popular-manufacturers-first-color,
.second:hover .popular-manufacturers-second-color,
.third:hover .popular-manufacturers-third-color,
.fourth:hover .popular-manufacturers-fourth-color {
  display: block;
}
.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000000;
}
.contacts {
  width: 560px;
}
.index-columns h2 {
  margin: 0;
  padding-top: 137px;
  padding-bottom: 43px;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.18px;
}
.info p,
.contacts p {
  margin: 0;
  font-weight: 300;
}
.choice {
  width: 467px;
  padding-bottom: 32px;
}
.potential-delivery {
  width: 463px;
  font-size: 14.4px;
}
.contacts-text {
  padding-bottom: 39px;
}
.info-transport-company {
  margin: 0;
  padding: 0;
  margin-top: 65px;
  margin-left: 35px;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0;
  list-style: none;
}
.company-name {
  position: relative;
}
.company-name::before {
  content: "";
  position: absolute;
  display: block;
  top: 17px;
  left: -34px;
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}
.index-columns h3 {
  position: relative;
  display: block;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.info h3::after {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  left: -23px;
  width: 260px;
  height: 8px;
  z-index: -1;
  background-color: #f0c52e;
}
.contacts h3::after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  left: -40px;
  width: 260px;
  height: 8px;
  z-index: -1;
  background-color: #f0c52e;
}
.info h3 {
  margin-top: 62px;
  margin-bottom: 89px;
  margin-left: 23px;
}
.contacts h3 {
  margin-top: 68px;
  margin-left: 40px;
}
.info h2,
.contacts h2  {
  position: relative;
}
.info h2::before,
.contacts h2::before {
  content: "";
  position: absolute;
  display: block;
  top: 85px;
  left: 0px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}
.inner-page {
  color: #000000;
}
.inner-basket-nav-icon {
  padding-right: 11px;
}
.inner-compare-nav-icon {
  padding-right: 9px;
}
.logout-link-nav {
  padding-right: 65px;
  opacity: 0.3;
}
.user-name-nav {
  padding-right: 19px;
}
.logout-link-nav-icon {
  padding-right: 13px;
}
.page-title {
  margin: 0;
  padding: 0;
  padding-top: 37px;
  padding-left: 60px;
  margin-bottom: 20px;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.55px;
  text-align: left;
}
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  padding-left: 60px;
  list-style: none;
  font-weight: 300;
  letter-spacing: 0;
}
.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}
.breadcrumbs a {
  margin: 0;
  padding: 0;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -20px;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #000000;
}
.breadcrumbs-current::after {
  display: none;
}
.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}
.columns-filter-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filter {
  width: 331px;
}
.filter fieldset {
  padding-left: 56px;
  border: none;
}
.filters h2,
.sort h2 {
  padding: 10px 0;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.filters h2 {
  margin-bottom: 79px;
  margin-top: -10px;
  position: relative;
  padding-top: 33px;
  padding-bottom: 24px;
  padding-left: 61px;
}
.filters {
  position: relative;
  width: 328px;
  margin-top: 14px;
  background: -webkit-linear-gradient(#dcdcdc 71px, #efefef 71px);
  background: -o-linear-gradient(#dcdcdc 71px, #efefef 71px);
  background: linear-gradient(#dcdcdc 71px, #efefef 71px);
}
.filters::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: calc(50% - 50vw);
  z-index: -2;
  background: -webkit-linear-gradient(#dcdcdc 71px, #efefef 71px);
  background: -o-linear-gradient(#dcdcdc 71px, #efefef 71px);
  background: linear-gradient(#dcdcdc 71px, #efefef 71px);
}
.fiter-item {
  position: relative;
  margin: 0;
  padding: 0;
}
.filter-item legend {
  position: relative;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}
.filter-price::before {
  content: "";
  position: absolute;
  display: block;
  top: -11px;
  left: 2px;
  width: 201px;
  height: 2px;
  background-color: #000000;
}
.filter-color::before {
  content: "";
  position: absolute;
  display: block;
  top: 17px;
  left: 2px;
  width: 201px;
  height: 2px;
  background-color: #000000;
}
.filter-bluetooth::before {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 2px;
  width: 201px;
  height: 2px;
  background-color: #000000;
}
.range-filter {
  position: relative;
  width: 202px;
  margin-top: 31px;
}
.range-controls {
  margin-bottom: 10px;
}
.range-controls .scale {
  height: 2px;
  background: #dbdbdb;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #91c92f;
}
.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: -4px;
}
.range-controls .toggle-max {
  left: 109px;
}
.price-controls {
  font-family: "Gilroylight", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.2);
}
.price-controls label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.price-controls input {
  width: 40px;
  padding-right: 28px;
  font-size: 14px;
  background-color: #efefef;
  color: rgba(0, 0, 0, 0.2);
  border: none;
}
.filter-color {
  padding-top: 30px;
}

.filter-bluetooth {
  padding-top: 18px;
}
.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 40px;
}
.filter-option {
  position: relative;
  padding: 0;
  font-weight: 300;
}
.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -39px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -39px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -40px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox {
  display: none;
}
.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox + label:hover::before {
  opacity: 0.6;
}
.filter-input-checkbox:disabled + label {
  color: #a6a6a6;
}
.filter-input-checkbox:disabled + label::before {
  opacity: 0.25;
}
.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -40px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -40px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio:checked + label:hover::before,
.filter-input-radio + label:hover::before {
  opacity: 0.6;
}
.filter-input-radio:disabled + label::before {
  opacity: 0.25;
}
.filter-input-radio:disabled + label {
  color: #a6a6a6;
}
.filter-button {
  position: relative;
  display: block;
  width: 139px;
  margin-top: 14px;
  margin-left: 92px;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  z-index: 20;
  border: 0;
  outline: none;
  background-color: transparent;
  }
.filter-button::after {
  content: "";
  position: absolute;
  display: block;
  top: 30%;
  left: -33px;
  width: 200px;
  height: 8px;
  z-index: -1;
  outline: none;
  background-color: #f0c52e;
  }
.filter-button:hover::after {
  width: 200px;
  height: 40px;
  top: -22%;
}
.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.sort {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 14px;
  padding-left: 72px;
  background-color: #ebebeb;
}
.sort::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: calc(50% - 50vw);
  z-index: -1;
  background-color: #ebebeb;
}
.sort-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 286px;
  margin: 0;
  padding: 0;
  margin-left: 51px;
}
.sort-item,
.sort-item-range {
list-style: none;
}
.sort-link {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.3);
}
.sort-link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sort-link:active {
  color: rgba(0, 0, 0, 1);
}
.sort-item-range {
  position: relative;
  top: -10px;
  margin-left: 222px;
}
.sort-item-up {
  position: absolute;
  right: 19px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}
.sort-item-down {
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}
.sort-item-down:active,
.sort-item-up:active,
.sort-item-active {
  opacity: 1;
}
.sort-item-down:hover,
.sort-item-up:hover {
opacity: 0.4;
}
.index-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  max-width: 358px;
  padding-top: 24px;
  padding-bottom: 46px;
}
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-item {
  position: relative;
  width: 360px;
}
.catalog-item-image {
  margin: 0;
}
.prof-selfie {
  width: 234px;
}
.selfie-stick-item {
  width: 266px;
}
.catalog-item .actions {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  z-index: 10;
  background-color: #eeeeee;
  opacity: 0.7;
}
.catalog-item .actions {
  display: none;
}
.catalog-item:hover .actions{
  display: block;
}
.in-basket {
  position: relative;
  top: 176px;
  left: 116px;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.in-basket::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -35px;
  width: 200px;
  height: 8px;
  z-index: -1;
  background-color: #f0c52e;
}
.in-basket:hover::after,
.in-basket:active::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -35px;
  width: 200px;
  height: 40px;
  z-index: -1;
  background-color: #f0c52e;
}
.in-basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.in-compare:hover {
  color: rgba(0, 0, 0, 1);
}
.in-compare:active {
  color: rgba(0, 0, 0, 0.2);
}
.in-compare {
  position: relative;
  top: 218px;
  left: -25px;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.catalog {
  padding-top: 67px;
  padding-left: 72px;
}

.catalog-item h3 {
  margin: 0;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}
.catalog-item-price {
  font-family: "Gilroylight", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}
.pagination-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-top: -7px;
  padding-top: 20px;
  padding-bottom: 98px;
  list-style: none;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 88px;
  margin: 0;
  padding: 0;
  padding-left: 238px;
}
.text-back {
  padding-left: 29px;
}
.text-up {
  padding-left: 229px;
}
.pagination-item-number:last-child {
  padding-right: 0;
}
.pagination-item-number {
  color: rgba(0, 0, 0, 0.3);
}
.pagination-item-number:hover {
  color: rgba(0, 0, 0, 0.6);
}
.pagination-item-number:active {
  color: rgba(0, 0, 0, 1);
}
.pagination-item-current {
  color: #000000;
}
.pagination-list::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 760px;
  height: 70px;
  z-index: -2;
  background-color: #ebebeb;
}
.pagination-item {
  position: relative;
}
.text-back:hover::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 0;
  width: 126px;
  height: 70px;
  z-index: -1;
  background-color: #d9d9d9;
}
.text-up:hover::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 207px;
  width: 126px;
  height: 70px;
  z-index: -1;
  background-color: #d9d9d9;
}
.pagination-item a:active {
  opacity: 0.3;
}
.main-footer {
  color: #ffffff;
  background-color: #464646;
}
.footer-navigation-item,
.footer-user-navigation,
.footer-social-item {
  list-style: none;
}
.footer-navigation-item a,
.footer-user-navigation a,
.footer-social-item a {
  color: inherit;
}
.main-footer-logo svg:hover {
  fill: #ffc600;
  opacity: 0.6
}
.main-footer-logo svg:active {
  fill: #ffc600;
  opacity: 0.3
}
.main-footer-logo {
  position: relative;
  padding-top: 65px;
}
.footer-logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 480px;
  margin: 0;
  padding: 0;
  padding-top: 47px;
  font-weight: 300;
}
.footer-login-link-icon {
  padding-right: 13px;
}
.footer-login-link {
  padding-right: 43px;
}
.footer-compare {
  padding-right: 41px;
}
.footer-compare-icon {
  padding-right: 10px;
}
.footer-basket-icon {
  padding-right: 10px;
}
.footer-login-link:hover::before,
.footer-compare:hover::before,
.footer-basket:hover::before {
  opacity: 0.6;
}
.footer-login-link:active::before,
.footer-compare:active::before,
.footer-basket:active::before {
  opacity: 0.3;
}
.user-navigation-list a:hover,
.site-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.user-navigation-list a:active,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.inner-footer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 480px;
}
.logout-link {
  padding-right: 43px;
  opacity: 0.3;
}
.footer-user-name {
  padding-right: 19px;
}
.logout-link-icon {
  padding-right: 14px;
}
.inner-footer .compare {
  margin-right: 60px;
}
.footer-index-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align:end;
      -ms-flex-align:end;
          align-items:flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 21px;
  font-weight: 300;
  letter-spacing: 0px;
}
.address {
  max-width: 260px;
  margin-top: 0;
  margin-bottom: 0;
}
.footer-navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 440px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -35px;
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.footer-service {
  padding-left: 34px;
}
.footer-contacts {
  padding-left: 32px;
}
.tel {
  margin: 0;
  padding: 0;
}
.phone {
  color: #ffffff;
}
.footer-login-link-icon svg:hover,
.footer-compare-icon svg:hover,
.footer-basket-icon svg:hover {
  opacity: 0.6;
}
.footer-login-link-icon a:active,
.footer-compare-icon a:active,
.footer-basket-icon a:active {
  fill: rgba(255, 198, 0, 0.3);
}
.footer-login-link,
.footer-user-name,
.footer-compare,
.footer-basket {
  opacity: 0.7;
}
.footer-login-link:hover,
.footer-compare:hover,
.footer-basket:hover {
  opacity: 1;
}
.footer-login-link:active,
.footer-compare:active,
.footer-basket:active {
  opacity: 0.3;
}
.footer-navigation-item a:hover {
  opacity: 0.6;
}
.footer-navigation-item a:active{
  opacity: 0.3;
}
.footer-social-copyright {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 61px;
  padding-bottom: 67px;
}
.footer-social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 161px;
  margin: 0;
  padding: 0;
  padding-right: 472px;
  padding-top: 2px;
  opacity: 0.3;
}
.footer-social-copyright::before {
  content: "";
  position: absolute;
  display: block;
  top: 77px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}
.social-button svg:hover {
  opacity: 0.6
}
.social-button svg:active {
  opacity: 0.1
}
.footer-copyright {
  margin: 0;
  padding: 0;
}
.footer-copyright svg:hover {
  opacity: 0.6
}
.footer-copyright svg:active {
  opacity: 0.3
}
.active-sorting-link {
  color: #000000;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.modal {
  position: fixed;
  z-index: 1000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}
.modal-write-us {
  display: none;
  bottom: 50%;
  left: 50%;
  width: 960px;
  margin:0;
  padding: 0;
  margin-left: -480px;
  margin-bottom: -232px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
.write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 760px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 95px;
  padding-bottom: 92px;
}
.write-us-form label {
  padding-bottom: 7px;
}
.write-us-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}
.write-us-form p:first-child {
  padding-right: 40px;
}
.write {
  width: 360px;
}
.message {
  width: 760px;
  padding: 0;
  margin: 0;
  padding-top: 29px;
}
.write-us-form input {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f2f2f2;
  border: 3px solid transparent;
  opacity: 0.5;
}
.write-us-form input:hover {
  background-color: #eaeaea;
}
.write-us-form input:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  outline: none;
}
.write-us-form input:invalid {
  background-color: #f6dada;
}
.modal-user-name,
.modal-user-email,
.modal-user-text {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #464646;
}
.write-us-item,
.button-send {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}
.write-us-form .modal-user-text {
  padding-bottom: 124px;
}
.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  z-index: 5;
  font-size: 0;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: #f0c52e;
  opacity: 0.5;
  cursor: pointer;
}
.modal-close::after,
.modal-close::before {
  content: "";
  position: absolute;
  left: 14px;
  width: 27px;
  height: 3px;
  background-color: #ffffff;
}
.modal-close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-close::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-close:hover {
  opacity: 1;
}
.modal-close:active {
  opacity: 0.3;
}
.button-send {
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 34px;
  margin-top: 49px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  outline: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.button-send::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -34px;
  width: 200px;
  height: 8px;
  z-index: -1;
  background-color: #f0c52e;
}
.button-send:hover::after {
  position: absolute;
  display: block;
  top: -9px;
  left: -34px;
  width: 200px;
  height: 40px;
  z-index: -1;
  background-color: #f0c52e;
}
.button-send:active {
  color: rgba(0, 0, 0, 0.3);
}
.modal-map {
  display: none;
  top: 50%;
  left: 75%;
  width: 960px;
  height: 559px;
  margin-top: -280px;
  margin-left: -950px;
  z-index: 100;
}
.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
}
.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}
.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}
